{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--image icone-->
     <link rel="icon" type="image/png" href="{% static 'LibL/images/icons/favicon.ico' %}"/>

      <!-- Bootstrap CSS File -->
      <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/animate/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/venobox/venobox.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/bootstrap/css/nivo-slider-theme.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/bootstrap/css/style.css' %}" rel="stylesheet">
      <link href="{% static 'blog/lib/bootstrap/css/responsive.css' %}" rel="stylesheet">

      <!--blog-->
      <link href="{% static 'blog/libB/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'blog/libB/bootstrap/css/blog-post.css' %}" rel="stylesheet">


    {% if title %}
        <title> Smartech - {{ title }}</title>
    {% else %}
        <title> Smartech </title>
    {% endif %}


    <!--dropdown-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!--style -->
        <style>
            .dropdown-submenu {
              position: relative;
            }

            .dropdown-submenu .dropdown-menu {
              top: 0;
              left: 100%;
              margin-top: -1px;
            }
        </style>

</head>
<body>


<!-- navigation bar -->
<header>
    <!-- header-area start -->
   <div id="sticker" class="header-area">
      <div class="container">
          <div class="col-md-12 col-sm-12">
            <!-- Navigation -->
            <nav class="navbar ">
              <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                      </button>
                      <!-- Brand -->
                      <a class="navbar-brand page-scroll sticky-logo" href="{% url 'smartech-home' %}">
                        <h1>smar<span>T</span>ech</h1>
                      </a>
                  </div>



                   <!-- dropdown -->
                    <div class="">
                        <a href="{% url 'smartech-home' %}" class="btn btn-info" role="button">Accueil</a>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-default " type="button" data-toggle="dropdown">Solutions
                        </button>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-default " type="button" data-toggle="dropdown">Services
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="#">Formation</a></li>
                          <li><a tabindex="-1" href="#">Produits</a></li>
                        </ul>
                    </div>

                     <div class="dropdown">
                      <div class="btn-group">
                        <button type="button" class="btn btn-secondary">Blog</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu">
                          {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'post-create' %}">New Post</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'smartech-blog' %}">Blog</a>
                          {% else %}
                            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-default " type="button" data-toggle="dropdown">Admin Dash
                        </button>
                    </div>

                    <div class="dropdown">
                      <div class="btn-group">
                        <button type="button" class="btn btn-secondary">Login</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Action</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu">
                          {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'logout' %}">Out</a>
                          {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">In</a>
                            <a class="dropdown-item" href="{% url 'post-create' %}">Admin</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                  <div>
                    <form class="form-inline my-0 my-lg-0">
                          <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>


            </nav>
          </div>

      </div>
    </div>
  </header>


<!-- end navigation bar -->

        <script>
            $(document).ready(function(){
              $('.dropdown-submenu a.test').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
              });
            });
        </script>

        <script>

        $( document ).ready(function() {
          var userInput = $('#username-input'),
              userWrap = $('.username-wrap'),
              user = $('#name');

          userInput.keyup(function (event) {
              if (event.which == 13) {
                var name = $(this).val();
                user.text(name);
                userInput.addClass('hidden');
                 userWrap.addClass('hidden');
                user.removeClass('hidden');
                user.parent().addClass('pw-active');
                $('.password').focus();
                return false;
              }
          });

          user.click(function (event) {
                user.addClass('hidden');
                user.parent().removeClass('pw-active');
                userInput.removeClass('hidden');
             userWrap.removeClass('hidden');
          });
        });


		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>

    <br><br>



            <!--start blog part1: bootstrap -->
            <!--start blog part2: code -->
          <div class="container">
              {% block bootstrap %} {% endblock %}

              {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
              {% endif %}

              {% block content %} {% endblock %}


          </div>

            <!-- Footer -->
          <footer class="py-1 bg-dark">
            <div class="footer-area-bottom">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="copyright text-center">
                        <p>
                          &copy; Copyright <strong>Smartech</strong>. All Rights Reserved
                        </p>
                      </div>
                      <div class="credits">
                        Designed by <a href="https://smartech.com/">Smartech</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
         <!-- /.container -->
        </footer>

  <!-- blog -->
  <script src="{% static 'blog/libB/bootstrap/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/libB/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>