{% extends "blog/base.html" %}
{% block content %}
    <br>
     <article class="media content-section">
        <!--<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}  src="{{ object.profile.image.url }}"">-->
        <div class="row">
          <div class="col-lg-8">
           <div class="media">
            <img class="rounded-circle account-img" width="100px" height="150px" src="{{ object.auteur.profile.image.url }}">
            <div class="media-body">
                    <h1><a >{{ object.titre }} </a></h1>
                   <p class="lead">
                    by: <a class="mr-2" href="{% url 'user-posts' object.auteur.username %}"> {{ object.auteur }} </a>, Posted on {{ object.date | date:"F d, Y" }}
                   </p>
                <div class="article-metadata">
                    <hr>
                        {% if object.auteur == user %}
                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'smartech-blog' %}">Cancel</a>
                            </div>
                        {% else %}
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'smartech-blog' %}">Cancel</a>
                        {% endif %}
                    </div>
                   <hr>

                   <div class="card my-4">
                      <h5 class="card-header">Object</h5>
                      <div class="card-body">
                          <div class="form-group">
                            <textarea class="form-control" rows="3"> {{ object.contenu }}</textarea>
                          </div>
                      </div>
                   </div>
                      <hr>
                    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

                   <div class="card my-4">
                      {% if object.auteur == user or object.auteur != user %}
                      <h5 class="card-header"><a > Leave a Comment: </a> </h5>
                      <div class="card-body">
                        <form>
                          <div class="form-group">
                            <textarea class="form-control" rows="3"> {{ object.comment }}</textarea>
                          </div>
                          <button type="submit" class="btn btn-primary"><a href="{ url  'user-posts' }"> Submit </a></button>
                        </form>
                      </div>
                     {% endif %}
                   </div>

                   <div class="media mb-4">
                     <img class="d-flex mr-3 rounded-circle" width="40px" height="40px" src="{{ object.auteur.profile.image.url }}" alt="">
                      <div class="media-body">
                        {% if object.auteur == user or object.auteur != user %}
                        <h5 class="mt-0">{{ object.auteur }}</h5>
                          <p> {{ object.contenu }} </p>
                        <div class="media mt-4">
                          <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                          <img class="d-flex mr-3 rounded-circle" width="40px" height="40px" src="{{ object.auteur.profile.image.url }}" alt="">
                          <div class="media-body">
                            <h5 class="mt-0">{{ object.auteur }}</h5>
                              <p> {{ object.contenu }} </p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                </div>
            </div>
           </div>
         </div>

        </div>
  </article>
{% endblock %}
