{% load static %}
<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
</head>

<body>

<div class="small_div">
    <div class="container">
        <h2>Nos formations</h2>
        <hr>

        <form action="/formation/update/{{ catals.id }}">
            {{ csrf_token }}

            <label class="form-group" for="description">Description:</label>
            <input class="form-control" type="text" name="description" value="{{ catals.description }}" placeholder="{{ catals.description }}">

            <label class="form-group" for="encadrant">Encadrant:</label>
            <input class="form-control" type="text" name="encadrant" value="{{ catals.encadrant }}" placeholder="{{ catals.encadrant }}">

            <label class="form-group" for="date">Date:</label>
            <input class="form-control" type="date" name="date" value="{{ catals.date }}" placeholder="{{ catals.date }}">

            <input class="btn btn-primary" type="submit" value="Update" >

        </form>
    </div>
</div>

</body>
</html>