{% extends "education/index.html" %}
    {% block content %}
    <body>
        <div class="container">
             <h2>Nos formations</h2>
             <hr>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>description</th>
                        <th>encadrant</th>
                        <th>date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catal in catals %}
                        <tr>
                            <td>{{ catal.description}}</td>
                            <td>{{ catal.encadrant}}</td>
                            <td>{{ catal.date}}</td>
                             <td><a class="btn btn-info" href="/formation/edit/{{ catal.id }}">Edit</a>
                                 <a class="btn btn-danger" href="/formation/delete/{{ catal.id }}">Delete</a>
                             </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
                <td><a class="btn btn-primary" href="/formation/add/{{ add.formation }}">Add</a> </td>
        </div>
    </body>
    {% endblock %}